<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/dashboard" class="brand-link">
      <img src="/static/images/letter-h.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">HODARI HUB</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/static/images/user.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="/dashboard" class="d-block">
            <%- locals.user_name %>
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="/email_list" class="nav-link">
              <i class="nav-icon fas fa-envelope"></i>
              <p>Email Accounts</p>
            </a>
          </li>
          
          <li class="nav-item">
            <a href="/platforms" class="nav-link">
              <i class="nav-icon fas fa-globe"></i>
              <p>Platforms & Website</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-briefcase"></i>
              <p>Medias Accounts<i class="fas fa-angle-left right"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/socialmedia" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>All Media</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/socialmedia/instagram" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Instagram</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/socialmedia/facebook" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Face Book</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/socialmedia/twitter" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Twitter</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/socialmedia/jamiiforums" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Jamii Forums</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/socialmedia/youtube" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>YouTube</p>
                </a>
              </li>
            </ul>
          </li>

          

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-cogs"></i>
              <p>Twitter Bot <i class="fas fa-angle-left right"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/rt_automation" class="nav-link"><i class="far fa-circle nav-icon"></i> &nbsp; <p>Retweet Automation</p></a>
              </li>
              <li class="nav-item">
                <a href="/standby_counter" class="nav-link"><i class="far fa-circle nav-icon"></i> &nbsp; <p>Standby Counter</p></a>
              </li>
              <li class="nav-item">
                <a href="/view_counted_tone" class="nav-link"><i class="far fa-circle nav-icon"></i> &nbsp; <p>View Counted Tone</p></a>
              </li>
              <li class="nav-item">
                <a href="/rt_from_specific_user" class="nav-link"><i class="far fa-circle nav-icon"></i> &nbsp; <p>RT From Specific</p></a>
              </li>
              <li class="nav-item">
                <a href="/single_tweet_stats" class="nav-link"><i class="far fa-circle nav-icon"></i> &nbsp; <p>Single Tweet Stats</p></a>
              </li>
              <li class="nav-item">
                <a href="/influensor_page_stats" class="nav-link"><i class="far fa-circle nav-icon"></i> &nbsp; <p>Influensor Page Stats</p></a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i>
              <p>Tonality <i class="fas fa-angle-left right"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/tonality" class="nav-link">
                  <i class="far fa-circle nav-icon"></i> <p>Data Table</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/social_messages" class="nav-link">
                  <i class="far fa-circle nav-icon"></i> <p>Message Trend</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/media_list" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Social Media Groups</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/tonality_member" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tonality Members</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/twitter_tone" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Twitter Counter</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/youtube_tone" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Youtube Search Counter</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/youtube_comment_tone" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>YT Comment Counter</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/pending_data" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Pending Data</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>