<div class="row col-6 mx-auto p-4 my-4" style="margin-top: 50px !important;">
    <form style="width:100%;" class="text-center" id="newbystander">
        <div class="form-group">
            <label for="selected_bot">Choose Bot</label>
            <select id="selected_bot" name="selected_bot" class="form-control text-center">
                <%- locals.bots %>
            </select>
        </div>
        <div class="form-group">
            <label for="key_word">Set Keyword</label>
            <input type="text" name="key_word" id="key_word" class="form-control text-center" placeholder="Add Key Word">
        </div>
        <div style="text-align:center !important;" id="newbystander_res"></div>
        <button type="submit" class="btn btn-primary mx-auto">ADD LISTENER</button>
    </form>
</div>