<div class="row col-6 mx-auto p-4 my-4" style="margin-top: 50px !important;">
    <form style="width:100%;" class="text-center" id="new_tone_keyword">
        <div class="form-group">
            <label for="medianame">Media Name</label>
            <select id="medianame" name="medianame" class="form-control text-center">
                <option value="twitter">Twitter</option>
            </select>
        </div>
        <div class="form-group">
            <label for="nkyw">NEW KEYWORD</label>
            <input type="text" name="nkyw" id="nkyw" class="form-control text-center" placeholder="Enter Key Word">
        </div>
        <div style="text-align:center !important;" id="new_tone_keyword_res"></div>
        <button type="submit" class="btn btn-primary mx-auto">NEW KEYWORD</button>
    </form>
</div>